body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #688fb0;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

#navbar h1 {
    margin: 0;
    font-family: 'Averia Serif Libre', serif;
}

#navbar a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #9ab8d4;
    padding: 10px;
    border-radius: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    padding-top: 60px;
    box-sizing: border-box;
}

#login {
    text-align: center;
}

#password {
    margin-top: 15px;
    font-size: 18px;
    padding: 10px;
}

#blog {
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    margin-top: 100px;
}

.blog-post {
    background-color: #9ab8d4; 
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

#photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 60px;
}

#photos img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
