body {
    font-family: Arial, sans-serif;
    background-color: #DFDCDA;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #688fb0;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

#navbar h1 {
    margin: 0;
    font-family: 'Averia Serif Libre', serif;
}

#navbar a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #9ab8d4;
    padding: 10px;
    border-radius: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    padding-top: 60px;
    box-sizing: border-box;
}

#login {
    text-align: center;
}

#password {
    margin-top: 15px;
    font-size: 18px;
    padding: 10px;
}

#blog {
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    margin-top: 100px;
}

.blog-post {
    background-color: #9ab8d4; 
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

#photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 60px;
}

#photos img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

#pagination {
    text-align: center;
    margin-top: 20px;
}

#pagination a {
    margin: 0 10px;
    text-decoration: none;
    color: #9ab8d4;
}

.collapsible-post, .collapsible-post summary {
    border: none;  
    outline: none; 
    padding: 0;
    margin: 0;
    background-color: #9ab8d4; 
}

.collapsible-post summary::-webkit-details-marker { 
    display: none; 
}

.collapsible-post summary {
    display: block;
    color: #FFFFFF;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    list-style: none; 
    font-size: 1.5em;
    font-family: Arial, sans-serif; 
    background-color: #9ab8d4; 
    border-radius: 10px 10px 0 0; 
}

.collapsible-post .blog-content {
    display: none;
    padding: 10px 20px 20px 20px;
    background-color: #9ab8d4;
}


.collapsible-post[open] .blog-content {
    display: block;
}

.collapsible-post[open] summary::before {
    content: '▼ ';
}
.collapsible-post:not([open]) summary::before {
    content: '► ';
}


.collapsible-post {
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
